name: Daily Ticket Reminder

on:
  schedule:
    - cron: '30 14 * * 1-5'
  workflow_dispatch:

jobs:
  run-reminder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: | 
          pip install --upgrade pip
          pip install slack-sdk "notion-client==2.6.0" pandas


      - name: Send monthly summary
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          NAMES: ${{ secrets.NAMES }}
        run: python reminder.py
